
<div class="row">
    <div class="col-md-8 col-md-offset-2 well">
        <h2>AddCandidate</h2>
        <hr />
        <form method="post" action="/home/addcandidate">
            <input type="text" class="form-control" name="name" placeholder="Name" />
            <br />
            <input type="text" class="form-control" name="number" placeholder="Phone Number" />
            <br />
            <input type="text" class="form-control" name="email" placeholder="Email" />
            <br />
            <textarea class="form-control" rows="3" name="notes" placeholder="Notes"></textarea>
            <br />
            <button class="btn btn-primary">Add</button>
        </form>
    </div>
</div>