
@using _5_6_CandidateTracker.data
@model IEnumerable<Candidate>
@{
    ViewData["Title"] = "ViewPending";
}

<h2>ViewPending</h2>
<div class="container">
    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Email</th>
            <th>Notes</th>
        </tr>
        @foreach (Candidate c in Model)
        {
            <tr>
                <td><a href="/home/viewcandidate?id=@c.Id"> @c.Name</a></td>
                <td>@c.Number</td>
                <td>@c.Email</td>
                <td>@c.Notes</td>
            </tr>
        }
    </table>
</div>
